@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

.font-style{
    font-family: 'Sixtyfour', sans-serif;
}
a{
    text-decoration: none;
}

.dfjcac{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dfjeac{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dfjeae{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}
.dfjcae{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.dfjsac{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}

.cursor-pointer{
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.margin-auto{
    margin: auto;
}
.min-width-350{
    min-width: 350px;
}
.float-end{
    float: right;
}

@media screen and (max-width: 800px){
    .dna800{
        display: none;
    }
}
@media screen and (max-width: 400px){
    .dna400{
        display: none;
    }
}
@media screen and (max-width: 1277px){
    .dna1277{
        display: none;
    }
}
@media screen and (max-width: 1277px){
    .mqat990{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pyat990{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
